.config/fish/fish_history
.config/fish/conf.d/aws.fish
.config/fish/conf.d/chaordic.fish
.config/fish/fish_read_history
.config/fish/fishd*
*.bak
.atom/compile-cache/
.atom/packages
.atom/.node-gyp/
.todo/done.txt
.todo/report.txt
.todo/todo.txt
.config/fish/conf.d/dh.fish
.config/i3/wallpapers/
