.config/fish/fish_history
.config/fish/fish_read_history
.config/fish/fishd*
.config/fish/conf.d/cliix.fish
.config/i3/wallpapers/
*.bak
.atom/compile-cache/
.atom/packages
.atom/.node-gyp/
.config/fish/conf.d/aws-eventmobi.fish
