[core]
  excludesfile = ~/.gitignore_global
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green
[user]
	name = Danilo Penna Queiroz
	email = dpenna.queiroz@gmail.com
[alias]
  st = status -bs
  co = checkout
  br = branch -v
  ci = commit
  cl = clone
  rb = rebase
  cp = cherry-pick
  sh = stash
  ai = add --interactive
  sl = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  l = log --graph --stat --abbrev-commit
  d = diff --color-words
  wc = whatchanged
  fetch = fetch --all --tags --prune
[giggle]
  main-window-maximized = true
  main-window-geometry = 453x160+49+46
  main-window-view = FileView
  file-view-vpane-position = 331
  history-view-vpane-position = 621
[rebase]
  autosquash = true
[diff]
  tool = meld
[push]
  default = simple
