.config/fish/fish_history
.config/fish/fish_read_history
.config/fish/fishd*
.config/fish/conf.d/cliix.fish
.config/fish/conf.d/aws-eventmobi.fish
.config/fish/fish_variables
*.bak

config/fish/fish_variables
