[Desktop Entry]
Type=Application
Name=Screen Locker
Icon=preferences-desktop-screensaver
Exec=/usr/bin/light-locker
NoDisplay=true
NotShownIn=Gnome;Unity
