[Desktop Entry]
Name=KDE Connect Indicator
Comment=KDE Connect Indicator
Exec=/usr/bin/kdeconnect-indicator
Terminal=false
Type=Application
StartupNotify=true
