[user]
  name = Danilo Queiroz
  email = danilo.penna@coinsquare.com
[alias]
  st = status -bs
  br = branch -vv
  ci = commit
  cl = clone
  rb = rebase
  cp = cherry-pick
  ai = add --interactive
  sl = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  l = log --graph --stat --abbrev-commit
  d = diff --color-words
  wc = whatchanged
  f = fetch --all --tags --prune -v
  rs = reset
[push]
  default = current
[branch]
  autosetupmerge = always
  autosetuprebase = always
[rebase]
  autosquash = true
[diff]
  tool = meld
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  autocrlf = input
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green
[commit]
  template = ~/.git_commit_msg
[tig]
  main-view = id author:full date:relative commit-title:graph:v2 
[tig "bind"]
  status = A !?git commit --amend
  status = F !?git push origin --force
  status = P !git push origin
  main = P !git push origin
  refs = F !git fetch --all
[pull]
  rebase = true
