[user]
  name = danilo queiroz
  email = dpenna.queiroz@gmail.com
  signingkey = 51495C384577B917
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  autocrlf = input
[init]
  defaultBranch = main
[commit]
  template = ~/.git_commit_msg
  gpgsign = true
[pull]
  rebase = true
[push]
  default = current
[rebase]
  autosquash = true
[branch]
  autosetupmerge = always
  autosetuprebase = always
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green
[alias]
  st = status -bs
  br = branch -vv
  ci = commit
  cl = clone
  rb = rebase
  cp = cherry-pick
  sl = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  l = log --graph --stat --abbrev-commit
  d = diff --color-words
  f = fetch --all --tags --prune -v
  rs = reset
[diff]
  tool = meld
[tig]
  main-view = id author:full date:relative commit-title:graph:v2 
[tig "bind"]
  status = A !?git commit --amend
  status = F !?git push origin --force
  status = P !git push origin
  main = P !git push origin
  refs = F !git fetch --all
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
