[Unit]
Description=Start tmux in detached session

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -s terminal -d
ExecStop=/usr/bin/tmux kill-session -t terminal

[Install]
WantedBy=default.target
